

body {
    background-color: #6c85bd ;
    font-family: sans-serif;
    color: white;
    position: relative;
    min-height: 100%;
    display : table;
    height:  100vh;
    box-sizing: border-box;
    
}

.header {
    
}

.main-header__title {
    
    color: white;
    background-color:#0c4da1;
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    margin: 0;
    padding: 5rem;
    display: inline;
    /*display: block;*/
    position: absolute;
    top: 0px;
    width: 100%;
    display: inline-block;
    
}

h1 strong  {
  font-size: 7rem;
}

p {
    text-align: center;
    font-size: 2rem;
}

footer {
    
    background-color:#0c4da1;
    position: absolute;
    bottom: 0px;
    display: table-row;
    /*height: 100px;*/
    padding: 2rem;
    display:inline;
    width: 100%;

   
}

main {
    margin: 2rem;
}