

<p class="text-center text-muted">© Copyright 2020 un site de Régis BRUNET BLEC</p>



<footer class="main-footer">
    <p class="main-footer__content">un site créer par Régis BLEC</p>
</footer>
</body>

<script src="../js/calculateur.js" charset="utf-8"></script>

</html>