


    <nav class="menu">
        <ol>
            <li class="menu"><a href="#">Acceuil</a></li>
            <li class="menu"><a href="#">les bases du calcul</a></li>
            <li class="menu"><a href="#">le calculateur simple</a></li>
            <li class="menu"><a href="#">Les données Officielles</a></li>
            <li class="menu"><a href="#">Contact</a></li>
        </ol>
    </nav>
