<%- include('partials/header') %>

    <main class="main-content">
        <div>
            <p>Ce site a pour but de vous aider à calculer vos droit <strong>AAH</strong> en fonction soit des revenus du foyer.</p>
        </div>
        <div>
            <a class="main-content"  href="http://www.kevinpolisano.com/laah-pour-les-nuls-comprendre-par-lexemple-2/">
                <p>Pour plus d'information détailler je invite à aller sur le site de:</p>
                <p>" Kévine PALISANO "</p>
            </a>
        </div>
    </article>

<%- include('partials/footer') %>