

</article>
</main>
    <footer class="main-footer">
        <p class="main-footer__content">Un site de Régis BRUNET BLEC</p>
    </footer>
</body>

<script src="../js/calculateur.js" charset="utf-8"></script>
 
</html>