.calculateur {
   // color:orange;
    font-size: 1.5rem;
    .form {
        text-align: center;

        &-situation{
            border:2px solid black;
            color:red;
            margin: 0.25rem;
            padding: 1rem;
            border-radius: 1rem 
            max
        }
        &-situation-seule {
            font-size: 1.5rem;
            color:white;
            background-color: rgb(117, 79, 155);
            border-radius: 1rem 0rem 0rem 1rem;
            margin: 0rem;
            padding: 1rem;
            width: 150px;
        }
        &-situation-couple {
            font-size: 1.5rem;
            color:white;
            background-color: rgb(247, 38, 160);
            border-radius: 0rem 1rem 1rem 0rem;
            margin: 0rem;
            padding: 1rem;
            width: 150px;
        }
    }


    .field-input-revenu {
        color:red;
        
        width: max-content;
        padding: 1rem;
    
        &-text {
            text-align: center;
            width: 200px;
            margin: 0.5rem;
            padding: 1rem;
        }}
}